<!DOCTYPE html>
<html>
<head>
	<title>Peer Chat</title>
	<link href="style.css" rel="stylesheet" />
</head>
<body>
	<div id="video_grid"></div>
	<h1>Heading</h1>
	<script>
		let ROOMID = "<%=room_id%>";
	</script>
	<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="script.js"></script>
</body>
</html>